In [1]:
import pandas as pd

df = pd.read_csv('Finance.csv')

df

,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,COGS
0,Carretera,None,1618.5,3.0,20.0,32370.0,16185.0
1,Carretera,None,1321.0,3.0,20.0,26420.0,13210.0
2,Carretera,None,2178.0,3.0,15.0,32670.0,21780.0
3,Carretera,None,888.0,3.0,15.0,13320.0,8880.0
4,Carretera,None,2470.0,3.0,15.0,37050.0,24700.0
5,Carretera,None,1513.0,3.0,350.0,529550.0,393380.0
6,Montana,None,921.0,5.0,15.0,13815.0,9210.0
7,Montana,None,2518.0,5.0,12.0,30216.0,7554.0
8,Montana,None,1899.0,5.0,20.0,37980.0,18990.0
9,Montana,None,1545.0,5.0,12.0,18540.0,4635.0
10,Montana,None,2470.0,5.0,15.0,37050.0,24700.0
11,Montana,None,2665.5,5.0,125.0,333187.5,319860.0
12,Montana,None,958.0,5.0,300.0,287400.0,239500.0
13,Montana,None,2146.0,5.0,7.0,15022.0,10730.0
14,Montana,None,345.0,5.0,125.0,43125.0,41400.0
15,Montana,None,615.0,5.0,15.0,9225.0,6150.0
16,Paseo,None,292.0,10.0,20.0,5840.0,2920.0
17,Paseo,None,974.0,10.0,15.0,14610.0,9740.0
18,Paseo,None,2518.0,10.0,12.0,30216.0,7554.0
19,Paseo,None,1006.0,10.0,350.0,352100.0,261560.0
20,Paseo,None,367.0,10.0,12.0,4404.0,1101.0
21,Paseo,None,883.0,10.0,7.0,6181.0,4415.0
22,Paseo,None,549.0,10.0,15.0,8235.0,5490.0
23,Paseo,None,788.0,10.0,300.0,236400.0,197000.0
24,Paseo,None,2472.0,10.0,15.0,37080.0,24720.0
25,Paseo,None,1143.0,10.0,7.0,8001.0,5715.0
26,Paseo,None,1725.0,10.0,350.0,603750.0,448500.0
27,Paseo,None,912.0,10.0,12.0,10944.0,2736.0
28,Paseo,None,2152.0,10.0,15.0,32280.0,21520.0
29,Paseo,None,1817.0,10.0,20.0,36340.0,18170.0
30,Paseo,None,1513.0,10.0,350.0,529550.0,393380.0
31,Velo,None,1493.0,120.0,7.0,10451.0,7465.0
32,Velo,None,1804.0,120.0,125.0,225500.0,216480.0
33,Velo,None,2161.0,120.0,12.0,25932.0,6483.0
34,Velo,None,1006.0,120.0,350.0,352100.0,261560.0
35,Velo,None,1545.0,120.0,12.0,18540.0,4635.0
36,Velo,None,2821.0,120.0,125.0,352625.0,338520.0
37,Velo,None,345.0,120.0,125.0,43125.0,41400.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0    Product               38 non-null     object
 1    Discount Band         38 non-null     object
 2   Units Sold             38 non-null     float64
 3    Manufacturing Price   38 non-null     float64
 4    Sale Price            38 non-null     float64
 5    Gross Sales           38 non-null     float64
 6    COGS                  38 non-null     float64
dtypes: float64(5), object(2)
memory usage: 2.2+ KB

In [3]:
df.describe()

,Units Sold,Manufacturing Price,Sale Price,Gross Sales,COGS
count,38.000000,38.000000,38.000000,38.000000,38.000000
mean,1483.078947,27.842105,87.815789,116872.223684,90577.052632
std,742.745296,44.462876,125.529980,172261.914853,137913.434900
min,292.000000,3.000000,7.000000,4404.000000,1101.000000
25%,914.250000,5.000000,12.000000,14013.750000,6728.500000
50%,1513.000000,10.000000,15.000000,32325.000000,17177.500000
75%,2150.500000,10.000000,125.000000,179906.250000,158100.000000
max,2821.000000,120.000000,350.000000,603750.000000,448500.000000

In [4]:
df.head()

,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,COGS
0,Carretera,None,1618.5,3.0,20.0,32370.0,16185.0
1,Carretera,None,1321.0,3.0,20.0,26420.0,13210.0
2,Carretera,None,2178.0,3.0,15.0,32670.0,21780.0
3,Carretera,None,888.0,3.0,15.0,13320.0,8880.0
4,Carretera,None,2470.0,3.0,15.0,37050.0,24700.0

In [5]:
df.tail()

,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,COGS
33,Velo,None,2161.0,120.0,12.0,25932.0,6483.0
34,Velo,None,1006.0,120.0,350.0,352100.0,261560.0
35,Velo,None,1545.0,120.0,12.0,18540.0,4635.0
36,Velo,None,2821.0,120.0,125.0,352625.0,338520.0
37,Velo,None,345.0,120.0,125.0,43125.0,41400.0

In [6]:
df.shape

(38, 7)

In [7]:
df.columns

Index([' Product ', ' Discount Band ', 'Units Sold', ' Manufacturing Price ',
       ' Sale Price ', ' Gross Sales ', ' COGS '],
      dtype='object')

In [8]:
pd.isnull(df)

,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,COGS
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False

In [9]:
pd.notnull(df)

,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,COGS
0,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True
6,True,True,True,True,True,True,True
7,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True
11,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True
17,True,True,True,True,True,True,True
18,True,True,True,True,True,True,True
19,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True
21,True,True,True,True,True,True,True
22,True,True,True,True,True,True,True
23,True,True,True,True,True,True,True
24,True,True,True,True,True,True,True
25,True,True,True,True,True,True,True
26,True,True,True,True,True,True,True
27,True,True,True,True,True,True,True
28,True,True,True,True,True,True,True
29,True,True,True,True,True,True,True
30,True,True,True,True,True,True,True
31,True,True,True,True,True,True,True
32,True,True,True,True,True,True,True
33,True,True,True,True,True,True,True
34,True,True,True,True,True,True,True
35,True,True,True,True,True,True,True
36,True,True,True,True,True,True,True
37,True,True,True,True,True,True,True

In [10]:
df.drop(' Discount Band ', axis=1, inplace=True)

In [11]:
df

,Product,Units Sold,Manufacturing Price,Sale Price,Gross Sales,COGS
0,Carretera,1618.5,3.0,20.0,32370.0,16185.0
1,Carretera,1321.0,3.0,20.0,26420.0,13210.0
2,Carretera,2178.0,3.0,15.0,32670.0,21780.0
3,Carretera,888.0,3.0,15.0,13320.0,8880.0
4,Carretera,2470.0,3.0,15.0,37050.0,24700.0
5,Carretera,1513.0,3.0,350.0,529550.0,393380.0
6,Montana,921.0,5.0,15.0,13815.0,9210.0
7,Montana,2518.0,5.0,12.0,30216.0,7554.0
8,Montana,1899.0,5.0,20.0,37980.0,18990.0
9,Montana,1545.0,5.0,12.0,18540.0,4635.0
10,Montana,2470.0,5.0,15.0,37050.0,24700.0
11,Montana,2665.5,5.0,125.0,333187.5,319860.0
12,Montana,958.0,5.0,300.0,287400.0,239500.0
13,Montana,2146.0,5.0,7.0,15022.0,10730.0
14,Montana,345.0,5.0,125.0,43125.0,41400.0
15,Montana,615.0,5.0,15.0,9225.0,6150.0
16,Paseo,292.0,10.0,20.0,5840.0,2920.0
17,Paseo,974.0,10.0,15.0,14610.0,9740.0
18,Paseo,2518.0,10.0,12.0,30216.0,7554.0
19,Paseo,1006.0,10.0,350.0,352100.0,261560.0
20,Paseo,367.0,10.0,12.0,4404.0,1101.0
21,Paseo,883.0,10.0,7.0,6181.0,4415.0
22,Paseo,549.0,10.0,15.0,8235.0,5490.0
23,Paseo,788.0,10.0,300.0,236400.0,197000.0
24,Paseo,2472.0,10.0,15.0,37080.0,24720.0
25,Paseo,1143.0,10.0,7.0,8001.0,5715.0
26,Paseo,1725.0,10.0,350.0,603750.0,448500.0
27,Paseo,912.0,10.0,12.0,10944.0,2736.0
28,Paseo,2152.0,10.0,15.0,32280.0,21520.0
29,Paseo,1817.0,10.0,20.0,36340.0,18170.0
30,Paseo,1513.0,10.0,350.0,529550.0,393380.0
31,Velo,1493.0,120.0,7.0,10451.0,7465.0
32,Velo,1804.0,120.0,125.0,225500.0,216480.0
33,Velo,2161.0,120.0,12.0,25932.0,6483.0
34,Velo,1006.0,120.0,350.0,352100.0,261560.0
35,Velo,1545.0,120.0,12.0,18540.0,4635.0
36,Velo,2821.0,120.0,125.0,352625.0,338520.0
37,Velo,345.0,120.0,125.0,43125.0,41400.0

In [12]:
df.dtypes

 Product                  object
Units Sold               float64
 Manufacturing Price     float64
 Sale Price              float64
 Gross Sales             float64
 COGS                    float64
dtype: object

In [13]:
df['Units Sold'].dtypes

dtype('float64')

In [14]:
df[' Sale Price '].dtypes

dtype('float64')

In [15]:
df.duplicated().sum()

0

In [18]:
df_gross = df[ (df[' Gross Sales ']) <20000].index

df.drop(df_gross, inplace=True)

df

,Product,Units Sold,Manufacturing Price,Sale Price,Gross Sales,COGS
0,Carretera,1618.5,3.0,20.0,32370.0,16185.0
1,Carretera,1321.0,3.0,20.0,26420.0,13210.0
2,Carretera,2178.0,3.0,15.0,32670.0,21780.0
4,Carretera,2470.0,3.0,15.0,37050.0,24700.0
5,Carretera,1513.0,3.0,350.0,529550.0,393380.0
7,Montana,2518.0,5.0,12.0,30216.0,7554.0
8,Montana,1899.0,5.0,20.0,37980.0,18990.0
10,Montana,2470.0,5.0,15.0,37050.0,24700.0
11,Montana,2665.5,5.0,125.0,333187.5,319860.0
12,Montana,958.0,5.0,300.0,287400.0,239500.0
14,Montana,345.0,5.0,125.0,43125.0,41400.0
18,Paseo,2518.0,10.0,12.0,30216.0,7554.0
19,Paseo,1006.0,10.0,350.0,352100.0,261560.0
23,Paseo,788.0,10.0,300.0,236400.0,197000.0
24,Paseo,2472.0,10.0,15.0,37080.0,24720.0
26,Paseo,1725.0,10.0,350.0,603750.0,448500.0
28,Paseo,2152.0,10.0,15.0,32280.0,21520.0
29,Paseo,1817.0,10.0,20.0,36340.0,18170.0
30,Paseo,1513.0,10.0,350.0,529550.0,393380.0
32,Velo,1804.0,120.0,125.0,225500.0,216480.0
33,Velo,2161.0,120.0,12.0,25932.0,6483.0
34,Velo,1006.0,120.0,350.0,352100.0,261560.0
36,Velo,2821.0,120.0,125.0,352625.0,338520.0
37,Velo,345.0,120.0,125.0,43125.0,41400.0

In [20]:
df.to_csv('Solution.csv')